{% extends 'base.html' %}

{% block content %}
<div class="container my-5" id="container-contact">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2><i class="fa-solid fa-address-book" style="margin-right: 10px;"></i>Submit a Review</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}