{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container my-5" id="container-contact"
    style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <div class="overlay"></div>
    <div class="row">

        <div class="col-md-15"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2>Thanks for submitting a review</h2>
        </div>
    </div>
</div>
{% endblock %}