{% extends "base.html" %}
{% load static %}
{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="container my-5">
    <div class="overlay"></div>
    <div class="col-md-8">
        <h2><i class="fa-solid fa-newspaper fa-lg" style="margin-right: 10px;"></i>Thanks for subscribing to the
            Newsletter! <i class="fa-solid fa-check" style="color: #00ff00;" style="margin-left: 10px;"></i></h2>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
{% endblock %}