<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
                <i class="fa-brands fa-product-hunt fa-sm" style="margin-left: 10px;"></i>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products <i
                        class="fa-solid fa-arrow-turn-down"></i></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="hardware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware
                <i class="fa-solid fa-server fa-sm" style="margin-left: 10px;"></i>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="hardware-link">
                <a href="{% url 'products' %}?category=hardware" class="dropdown-item">Hardware</a>
                <a href="{% url 'products' %}?category=usb" class="dropdown-item">USB</a>
                <a href="{% url 'products' %}?category=devices" class="dropdown-item">Devices</a>
                <a href="{% url 'products' %}?category=hardware,usb,devices" class="dropdown-item">All
                    Hardware <i class="fa-solid fa-arrow-turn-down"></i></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="software-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Software
                <i class="fa-brands fa-uncharted fa-sm" style="margin-left: 10px;"></i>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="software-link">
                <a href="{% url 'products' %}?category=software" class="dropdown-item">Software</a>
                <a href="{% url 'products' %}?category=open_source" class="dropdown-item">Open Source</a>
                <a href="{% url 'products' %}?category=commerial" class="dropdown-item">Commerical</a>
                <a href="{% url 'products' %}?category=software, open_source, commerical" class="dropdown-item">All
                    Software <i class="fa-solid fa-arrow-turn-down"></i></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="specials-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
                <i class="fa-brands fa-shopify fa-beat-fade fa-sm" style="margin-left: 10px;"></i>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All
                    Specials <i class="fa-solid fa-arrow-turn-down"></i></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="docs-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documents
                <i class="fa-solid fa-building-shield fa-sm" style="margin-left: 10px;"></i>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="docs-link">
                <a href="{% url 'ethical' %}" class="dropdown-item">Ethical Policy</a>
                <a href="{% url 'delivery' %}" class="dropdown-item">Delivery Policy</a>
                <a href="{% url 'gdpr' %}" class="dropdown-item">GDPR Policy</a>
                <a href="{% url 'privacy' %}" class="dropdown-item">Privacy Policy</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
                <div class="dropdown-divider"></div>
                <a href="https://stripe.com/en-ie" class="dropdown-item" rel="noreferer">Powered by Stripe <i
                        class="fa-brands fa-stripe-s fa-beat"></i></a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'subscribe' %}" class="dropdown-item newsletter-item">Sign up to Newsletter! <i
                        class="fa-solid fa-newspaper fa-sm"></i></a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'review_form' %}" class="dropdown-item">Write a Product or Site Review </i></a>
                <a href="{% url 'approved_reviews' %}" class="dropdown-item">Read All Reviews </a>
            </div>
        </li>
    </ul>
</div>