{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
          <p class="card-text"><small class="text-muted">Likes: {{ post.likes }}</small></p>
          {% if user.is_authenticated %}
          <form method="POST" action="{% url 'like_post' pk=post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ post.pk }}">
            <button type="submit" class="btn btn-primary">Like</button>
          </form>
          {% else %}
          <p>You must be logged in to like this post.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="text-center">
        <a href="{% url 'blog' %}" class="btn btn-secondary">Back to all posts</a>
      </div>
  </div>
</div>
{% endblock %}
