{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Post Management</h2>
            <h5 class="text-muted">Update a Post</h5>
            <hr>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="font-weight-bold">Title:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.body.id_for_label }}" class="font-weight-bold">Body:</label>
            {{ form.body }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id_for_label }}" class="font-weight-bold">Author:</label>
            {{ form.author }}
        </div>
        <button class="btn btn-secondary">Update</button>
    </form>
</div>
{% endblock %}