{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="overlay"></div>
  <h1 class="text-center mb-5">{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="text-center">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
