{% extends 'base.html' %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container my-5" id="container-contact">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2><i class="fa-solid fa-address-book" style="margin-right: 10px;"></i>Contact Us</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Full Name:</label>
                    <input type="text" class="form-control" id="{{ form.full_name.id_for_label }}" name="{{ form.full_name.name }}" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" maxlength="254" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
                    <input type="text" class="form-control" id="{{ form.phone_number.id_for_label }}" name="{{ form.phone_number.name }}" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.subject.id_for_label }}">Subject:</label>
                    <input type="text" class="form-control" id="{{ form.subject.id_for_label }}" name="{{ form.subject.name }}" maxlength="100" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.message.id_for_label }}">Message:</label>
                    <textarea class="form-control" id="{{ form.message.id_for_label }}" name="{{ form.message.name }}" maxlength="1000" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}


